<div class="backgroud-mask">
  <div class="transparent-mask"></div>
  <div class="red-mask"></div>
</div>

<div class="eventvideo">
  <div class="video-introduce">
    <div class="text">
      <div class="title-container">
        <div class="trangle"></div>
        <div class="title">
          2018&nbsp;&nbsp;&nbsp;&nbsp;焕&nbsp;&nbsp;&nbsp;&nbsp;Refresh
        </div>
      </div>
      <div class="content">
        Refresh，
        <br />
        是一次自我更新，
        <br />
        更是一种世界观。
        <br />
        秉信浩渺世界中，
        <br />
        总有不断刷新认知的全新领域。
        <br /><br />
        Refresh,
        <br />
        是为获得全新启示，
        <br />
        完成再出发的思想革新。
        <br /><br />
        我们拥抱未知，
        <br />
        我们活在未来。
        <br />
        Refreshing is why and how we live.
      </div>
      <div class="content-line"></div>
    </div>
  </div>
  <div class="video-swiper">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="youku-video">
            <iframe
              height="100%"
              width="100%"
              src="http://player.youku.com/embed/XMzk5NDYwNTU1Mg=="
              allowfullscreen="true"
              frameborder="0"
            ></iframe>
          </div>
          <div class="speaker-name">
            石振弘
          </div>
          <div class="speak-title">
            《助推中国社会设计生态系统》
          </div>
        </div>
        <div class="swiper-slide">
          <div class="youku-video">
            <iframe
              height="100%"
              width="100%"
              src="http://player.youku.com/embed/XMzk5NDYwNTU1Mg=="
              allowfullscreen="true"
              frameborder="0"
            ></iframe>
          </div>
          <div class="speaker-name">
            石振弘
          </div>
          <div class="speak-title">
            《助推中国社会设计生态系统》
          </div>
        </div>
        <div class="swiper-slide">
          <div class="youku-video">
            <iframe
              height="100%"
              width="100%"
              src="http://player.youku.com/embed/XMzk5NDYwNTU1Mg=="
              allowfullscreen="true"
              frameborder="0"
            ></iframe>
          </div>
          <div class="speaker-name">
            石振弘
          </div>
          <div class="speak-title">
            《助推中国社会设计生态系统》
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
