<div class="backgroud-red-x-mask">
  <div class="partner-container">
    <div class="official-partner">
      <div class="partner-title">
        官方战略合作伙伴
      </div>
      <div class="partner-logo">
        <div class="logo-container">
          <img src="assets/partner-logo/001@2x.png" alt="" />
        </div>
      </div>
    </div>
    <div class="official-partner">
      <div class="partner-title">
        官方协同合作伙伴
      </div>
      <div class="partner-logo">
        <div class="logo-container">
          <img src="assets/partner-logo/002@2x.png" alt="" />
        </div>

        <div class="logo-container">
          <img src="assets/partner-logo/003@2x.png" alt="" />
        </div>
      </div>
    </div>
    <div class="official-partner">
      <div class="partner-title">
        官方合作伙伴
      </div>
      <div class="partner-logo">
        <div class="logo-container">
          <img src="assets/partner-logo/004@2x.png" alt="" />
        </div>
        <div class="logo-container">
          <img src="assets/partner-logo/005@2x.png" alt="" />
        </div>
        <div class="logo-container">
          <img src="assets/partner-logo/006@2x.png" alt="" />
        </div>
      </div>
      <div class="partner-logo">
        <div class="logo-container">
          <img src="assets/partner-logo/007@2x.png" alt="" />
        </div>
        <div class="logo-container">
          <img src="assets/partner-logo/008@2x.png" alt="" />
        </div>
        <div class="logo-container">
          <img src="assets/partner-logo/009@2x.png" alt="" />
        </div>
      </div>
      <div class="partner-logo">
        <div class="logo-container">
          <img src="assets/partner-logo/010@2x.png" alt="" />
        </div>
        <div class="logo-container">
          <img src="assets/partner-logo/011@2x.png" alt="" />
        </div>
        <div class="logo-container">
          <img src="assets/partner-logo/012@2x.png" alt="" />
        </div>
      </div>
      <div class="partner-logo">
        <div class="logo-container">
          <img src="assets/partner-logo/013@2x.png" alt="" />
        </div>
        <div class="logo-container">
          <img src="assets/partner-logo/014@2x.png" alt="" />
        </div>
        <div class="logo-container">
          <img src="assets/partner-logo/015@2x.png" alt="" />
        </div>
      </div>
      <div class="partner-logo">
        <div class="logo-container">
          <img src="assets/partner-logo/016@2x.png" alt="" />
        </div>
        <div class="logo-container" style="width:42%;">
          <img src="assets/partner-logo/017@2x.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="eventpartner"></div>
