<div class="eventreview">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="event-review-item">
          <div class="event-photo">
            <img src="assets/event-review/event.jpg" alt="" />
          </div>
          <div class="event-text">
            <div class="event-title">2018年度大会现场回顾</div>
            <div class="event-content">
              2018年11.25日，<br />
              TEDxShapowei2018年度大会 <br />
              在厦大科艺中心音乐厅焕新开启<br />
              <br />
              <br />
              首组表演嘉宾——吉岛乐队<br />
              阿卡贝拉的清新人声表演开启大会序幕
            </div>
          </div>
          <div class="event-article">
            <a
              href="https://mp.weixin.qq.com/s/UrT6Uz4z1xMPvY37tm4u6w"
              target="_blank"
              rel="noopener noreferrer"
              >阅读原文!</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
