<div class="main-page">
  <div class="event-entry-page">
    <img class="tedx-logo-white" src="../assets/tedx-logo-white.png" alt="" />
    <img class="background" src="../assets/tedx-mainpage.png" alt="" />
    <div class="event-entry">
      <div class="slogon-text">
          <h1>传播新知</h1>
          <h1>拥抱未来</h1>
      </div>
      <div class="tedx-event">
          <img class="refresh" src="../assets/refresh.png" alt="" />
      </div>
      
    </div>
  </div>
  <div class="tedx-introduce-page"></div>
</div>
