<div class="backgroud-red-50-x-mask">
  <div class="team-introduce-container">
    <div class="team-container">
      <div class="team-introduce">
        <div class="team-photo">
          <img src="assets/team-photo/徐@2x.png" alt="" />
        </div>
        <div class="team-text">
          <div class="title">
            策展人
          </div>
          <div class="name">
            徐巧珍<br />
            Meiko Xu
          </div>
        </div>
      </div>
      <div class="team-introduce">
        <div class="team-photo">
          <img src="assets/team-photo/博@2x.png" alt="" />
        </div>
        <div class="team-text">
          <div class="title">
            联合策展人
          </div>
          <div class="name">
            方博<br />
            Alan Fun
          </div>
        </div>
      </div>
    </div>
    <div class="team-container">
      <div class="team-introduce">
        <div class="team-photo">
          <img src="assets/team-photo/张@2x.png" alt="" />
        </div>
        <div class="team-text">
          <div class="title">
            演讲教练
          </div>
          <div class="name">
            张雅婷<br />
            Amy Zhang
          </div>
        </div>
      </div>
      <div class="team-introduce">
        <div class="team-photo">
          <img src="assets/team-photo/兰@2x.png" alt="" />
        </div>
        <div class="team-text">
          <div class="title">
            演讲教练
          </div>
          <div class="name">
            伍兰<br />
            Lan Wu
          </div>
        </div>
      </div>
    </div>
    <div class="team-container">
      <div class="team-introduce">
        <div class="team-photo">
          <img src="assets/team-photo/陈@2x.png" alt="" />
        </div>
        <div class="team-text">
          <div class="title">
            联合策展人
          </div>
          <div class="name">
            陈扬帆<br />
            Lancelot Chen
          </div>
        </div>
      </div>
      <div class="team-introduce">
        <div class="team-photo">
          <img src="assets/team-photo/黄@2x.png" alt="" />
        </div>
        <div class="team-text">
          <div class="title">
            联合策展人
          </div>
          <div class="name">
            黄仙龙<br />
            Xianlong Huang
          </div>
        </div>
      </div>
    </div>
    <div class="team-container">
      <div class="team-introduce">
        <div class="team-photo">
          <img src="assets/team-photo/程@2x.png" alt="" />
        </div>
        <div class="team-text">
          <div class="title">联合策展人</div>
          <div class="name">
            程立明<br />
            Ethan Cheng
          </div>
        </div>
      </div>
      <div class="team-introduce">
        <div class="team-photo">
          <img src="assets/team-photo/leo@2x.png" alt="" />
        </div>
        <div class="team-text">
          <div class="title">演讲教练</div>
          <div class="name">
            方杰霖<br />
            Leo Fang
          </div>
        </div>
      </div>
    </div>
    <div class="team-container">
      <div class="team-introduce">
        <div class="team-photo">
          <img src="assets/team-photo/刘@2x.png" alt="" />
        </div>
        <div class="team-text">
          <div class="title">联合策展人</div>
          <div class="name">
            刘钦钦<br />
            Zoe Liu
          </div>
        </div>
      </div>
      <div class="team-introduce">
        <div class="team-photo">
          <img src="assets/team-photo/玲@2x.png" alt="" />
        </div>
        <div class="team-text">
          <div class="title">翻译组长</div>
          <div class="name">方小玲 <br />Marry Fang</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="eventteam"></div>
