<div class="main-page">
  <div class="main-page-swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="event-entry-page">
          <img
            class="tedx-logo-white"
            src="assets/tedx-logo-white.png"
            alt=""
          />
          <img class="background" src="assets/tedx-mainpage.png" alt="" />
          <div class="event-entry">
            <div class="slogon-text">
              <h1>传播新知</h1>
              <h1>拥抱未来</h1>
            </div>
            <div class="tedx-event">
              <div [routerLink]="['/refresh2018']" class="refresh-event">
                <img class="refresh" src="assets/refresh.png" alt="" />
              </div>
            </div>
          </div>
          <button class="about-ted">关于ted</button>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="tedx-introduce-page">
          <div class="introduce-title">123</div>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="first-slide"></div>
                <div class="text">1</div>
              </div>
              <div class="swiper-slide">
                <div class="text">2</div>
              </div>
              <div class="swiper-slide">
                <div class="text">3</div>
                <div class="last-slide"></div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="event-entry-page">
          <img class="tedx-logo-white" src="../assets/tedx-logo-white.png" alt="" />
          <img class="background" src="../assets/tedx-mainpage.png" alt="" />
          <div class="event-entry">
            <div class="slogon-text">
              <h1>传播新知</h1>
              <h1>拥抱未来</h1>
            </div>
            <div class="tedx-event">
              <img class="refresh" src="../assets/refresh.png" alt="" />
            </div>
          </div>
          <button class="about-ted">关于ted</button>
        </div>
        <div class="tedx-introduce-page">
          <div class="introduce-title">123</div>
          <div class="swiper-container">
            <div class="swiper-wrapper">
             
              <div class="swiper-slide">
                <div class="first-slide"></div>
                <div class="text">1</div>
              </div>
              <div class="swiper-slide">
                  <div class="text">2</div>
              </div>
              <div class="swiper-slide">
                  <div class="text">3</div>
                  <div class="last-slide"></div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div> -->
</div>
